<h2>Activities List</h2>

<table class="table" style="width: 600px">
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Points</th>
    <th>&nbsp;</th>
  </tr>
<% for (var i = 0; i < activities.length; i++) { %>
  <tr>
    <td><%= activities[i].type %></td>
    <td><%= activities[i].name %></td>
    <td><%= activities[i].points %></td>
    <td><%- link_to("View", '/activity/view/'+activities[i].id) %></td>
  </tr>
<% } %>
</table>

<form action="/activity/create">
  Type:
  <input type="text" name="type" id="type" />
  <br/>
  Name:
  <input type="text" name="name" id="name" />
  <br/>
  Points:
  <input type="text" name="points" id="points" />
  <br/>
  <input type="submit" name="Submit"/>
  <br/>
<%- link_to("Add Another", '/activity/create', {class: "btn btn-default"}) %>
</form>
