<h2>Challenges List</h2>

<%- link_to("Create New", '/challenge/create', {class: 'btn btn-default'}) %>

<table class="table" style="width: 800px">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Activity</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Active</th>
    <th>&nbsp;</th>
  </tr>
<% for (var i = 0; i < challenges.length; i++) { %>
  <tr>
    <td>
      <%- link_to(challenges[i].name, '/challenge/view/'+challenges[i].id) %>
    </td>
    <td><%= challenges[i].description %></td>
    <td><%= challenges[i].activity.name %></td>
    <td><%=: challenges[i].startDate.toISOString().substring(0, 10) %></td>
    <td><%=: challenges[i].endDate.toISOString().substring(0, 10) %></td>
    <td><%= challenges[i].active %></td>
    <td>
      <%- link_to("Edit", '/challenge/update/'+challenges[i].id) %>
      <%- link_to("Delete", '/challenge/delete/'+challenges[i].id) %>
    </td>
  </tr>
<% } %>
</table>
