<h2>Challenge Detail</h2>

<table class="table" style="width: 800px">
  <tr>
    <td>Name:</td>
    <td><%= challenge.name %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= challenge.description %></td>
  </tr>
  <tr>
    <td>Activity:</td>
    <td><%= challenge.activity.name %></td>
  </tr>
  <tr>
    <td>Start Date:</td>
    <td><%= challenge.startDate.toISOString().substring(0, 10) %></td>
  </tr>
  <tr>
    <td>End Date:</td>
    <td><%= challenge.endDate.toISOString().substring(0, 10) %></td>
  </tr>
  <tr>
    <td>Active:</td>
    <td><%= challenge.active %></td>
  </tr>
</table>

<%- link_to("Back", '/challenge', {class: "btn btn-default"}) %>

